*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background: url('https://images.pexels.com/photos/296234/pexels-photo-296234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body, .App, #root {
  display: flex;
  justify-content: center;
  align-items: center;
}


.App {
  height: 75vh;
  width: 30vw;
  border-radius: 30px;
  border: 3px solid black;
  background: url('https://images.pexels.com/photos/235615/pexels-photo-235615.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  color: white;
  overflow: hidden;
}

body, .App {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#temp {
  color:rgb(0, 0, 0);
  font-size: 20px;
}

#title {
  color: white;
  font-size: 20px;
}

.container-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5px;
  margin: 35px;
}

.second-container-body p:first-child {
  font-size: 22px;
  color: rgba(67, 255, 124, 0.95);
}

img {
  height: 100px;
  width: 110px;
}

button {
  border-radius: 20px;
  width: 120px;
  height: 40px;
}

@media(max-width: 1090px){
  .App {
    width: 23em;
  }
}